.primary-button {
  background: var(--btn-primary-color);
  font-size: 24px;
  color: white;
  width: 100%;
  padding: 20px;
}

.primary-button-small {
  background: var(--btn-primary-color);
  font-size: 20px;
  color: white;
  padding: 14px 28px;
}

.secondary-button {
  background: var(--btn-secondary-color);
  font-size: 24px;
  color: white;
  width: 100%;
  padding: 20px;
}
.secondary-button-small {
  background: var(--btn-secondary-color);
  font-size: 20px;
  color: white;
  padding: 14px 28px;
}
